.container-large {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-large {
    width: 600px;
  }
}
@media (min-width: 992px) {
  .container-large {
    width: 775px;
  }
}
@media (min-width: 1200px) {
  .container-large {
    width: 1200px;
  }
}