data/docs/tutorial_dummy/definitions.tex
data/docs/tutorial_mnist/definitions.tex
data/docs/tutorial_vowel/definitions.tex
data/docs/tutorial_vowel/Tutorial_vowel.tex
data/docs/tutorial_mnist/Tutorial_mnist.tex
data/docs/tutorial_dummy/Tutorial_dummy.tex
data/docs/img/
data/db/MNIST/
data/docs/tutorial_dummy/.textpadtmp/
data/docs/tutorial_vowel/.textpadtmp/
data/docs/tutorial_mnist/.textpadtmp/
out/
META-INF/
StructED_Package-github.iml
.idea/
small.train.vowel
.DS_Store
